body {
    margin: 0;
    font-style: Arial;
}

.header {
    position: relative;
    margin: 0;
    padding:0;
}

.header img {
    width: 100%;
    margin:0;
    padding: 0;
}


.text span{
    color: white;
    font-size: 40px;
}


.text {
    position: absolute;
    bottom: 70px;
    right: 100px;
}


.navbar {
    background-color: lightgrey;
    position:relative;
    top: -5px;
}

.menu {
    float:left;
    width: 8%;
    border-right: 2px solid white;
    padding: 10px 20px;
    text-align: center;
}

.menu:hover {
    color: white;
}

.clear {
    clear:both;
}

.all-content {
    padding: 20px 40px;
}
.left {
    float: left;
    width: 70%;
    margin-right:40px;
}

.right {
    float: left;
    width: 25%;

}

.left-top, .left-bottom, .right-top, .right-bottom{
    border: 2px solid grey;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: rgb(42, 209, 42);
}

.product-left {
    margin-right: 10px;
    height: 100%;
    float: left;
    width: 30%;
}

.product-right {
    float: left;
    width: 65%;
}

.product {
    margin-bottom: 20px;
}

.right-top {
    background-color: rgb(223, 219, 219);
}

.right-top a, .right-bottom a {
    color: rgb(42, 209, 42)
}



footer {
    height: 70px;
    background-color: rgb(137, 224, 137);
    padding-top: 20px;
    text-align: center;
}

footer li {
    display: inline;
}

footer li a {
    border-left: 2px solid black;
    padding: 5px;

}

footer ul {
    list-style-type: none;
}