.navbar {
    background-color: rgb(35, 68, 97);
}

.navbar ul{
    list-style-type: none;
}

.navbar ul li{
    display: inline;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none;
    color:white;
}